In [1]:
import pandas as pd

In [2]:
import requests

In [3]:
# Retrieve azuki traits

df = pd.read_csv('https://raw.githubusercontent.com/fcitra/Azuki_traits/main/azuki_traits.csv')

In [4]:
# Retrieve azukis with andro hair trait but female by visual observation

female_andros = pd.read_csv('https://raw.githubusercontent.com/fcitra/Azuki_traits/main/Female%20Andro%20Hair%20Azuki%20-%20Numbers%20only.csv')

In [5]:
female_hair_traits = ['Maroon Bun',
                      'Maroon Ponytail',
                      'Maroon Bob',
                      'Magenta Pigtails',
                      'Powder Blue Pigtails',
                      'Blonde Flowy',
                      'Indigo Ponytail',
                      'Green Ponytail',
                      'Magenta Flowy',
                      'Blonde Bun',
                      'Teal Bun',
                      'Purple Bun',
                      'Teal Hairband',
                      'Brown Ponytail',
                      'Blue Bun',
                      'Green Flowy',
                      'Orange Pixie',
                      'Black Pigtails',
                      'Indigo Pixie',
                      'Purple Pigtails',
                      'Violet Flowy',
                      'Silver Ponytail',
                      'Brown Flowy',
                      'Green Pigtails',
                      'Blonde Pixie',
                      'Silver Bun',
                      'Blue Bob',
                      'Blue Hairband',
                      'Blonde Hairband',
                      'Pink Flowy',
                      'Indigo Bangs',
                      'Silver Pixie',
                      'Blonde Bob',
                      'Teal Bob',
                      'Pink Hairband',
                      'Black Hairband',
                      'Black Bangs',
                      'Teal Bangs',
                      'Silver Flowy',
                      'Brown Bangs',
                      'Silver Bob',
                      'Silver Bangs',
                      'Silver Hairband',
                      'Pink Pixie',
                      'Pink Pixie',
                      'Green Ombre Bangs',
                      'Silver Half Bun',
                      'Pink Bangs',
                      'Blue Pink Ombre Flowy',
                      'Brown Blonde Flowy',
                      'Blue Nightshade Flowy',
                      'Purple Bangs',
                      'Green Ombre Flowy',
                      'Purple Half Bun',
                      'Black Teal Bangs',
                      'Black Orange Bangs',
                      'Water',
                      'Spirit Goddess',
                      'Spirit Ponytail',
                      'Spirit Bob'
                      ]

In [6]:
male_hair_traits = [
                    'Brown Spiky',
                    'Brown Long',
                    'Maroon Disheveled',
                    'Magenta Long',
                    'Indigo Long',
                    'Maroon Short Spiky',
                    'Blonde Short Spiky',
                    'Blue Spiky',
                    'Blonde Long',
                    'Blue Short Spiky',
                    'Green Spiky',
                    'Orange Short Spiky',
                    'Black Disheveled',
                    'Buzzcut',
                    'Purple Spiky',
                    'Brown Disheveled',
                    'Indigo Disheveled',
                    'Teal Long',
                    'Green Samurai',
                    'Blonde Swept Back',
                    'Orange Samurai',
                    'Brown Samurai',
                    'Blue Samurai',
                    'Blonde Messy',
                    'Teal Messy',
                    'Orange Swept Back',
                    'Silver Short Spiky',
                    'Powder Blue Disheveled',
                    'Silver Disheveled',
                    'Brown Messy',
                    'Indigo Messy',
                    'Magenta Messy',
                    'Powder Blue Swept Back',
                    'Silver Swept Back',
                    'Indigo Swept Back',
                    'Silver Long',
                    'Maroon Fluffy',
                    'Gray Samurai',
                    'Silver Spiky',
                    'Indigo Fluffy',
                    'Black Swept Back',
                    'Black Fluffy',
                    'Green Fluffy',
                    'Brown Fluffy',
                    'Pink Samurai',
                    'Black Pink Long',
                    'Green Teal Long',
                    'Brown Blonde Long',
                    'Braids',
                    'Spirit Spiky',
                    'Fire',
                    'Spirit Fluffy',
                    'Spirit Long'
                    ]

In [7]:
andro_hair_traits = ['Blue Half Bun',
                     'Maroon Half Bun',
                     'Brown Half Bun',
                     'Green Half Bun',
                     'Long Dreadlocks',
                     'Dreadlocks',
                     'Silver Dreadlocks',
                     'Purple Dreadlocks',
                     'Blue Nightshade Half Bun',
                     'Brown Dreadlocks',
                     'Black Blonde Half Bun'
                     ]

In [8]:
df.head()

,Unnamed: 0,Token_id,Trait_count,Trait_list
0,0,0,7,"['Water', 'Pink Oversized Kimono', 'Off White ..."
1,1,1,7,"['Off White D', 'Daydreaming', 'Pink Hairband'..."
2,2,2,7,"['Red', 'Pink Flowy', 'Chewing', 'Ruby', 'Vest..."
3,3,3,9,"['Red', 'Green Spiky', 'Frog Headphones', 'Kat..."
4,4,4,7,"['Smirk', 'Brown Dreadlocks', 'Off White D', '..."

In [9]:
# Remove brackets and parentheses

df = df.astype(str).replace({"\[":"", "\]":"","\'":""}, regex=True)

In [10]:
df.head()

,Unnamed: 0,Token_id,Trait_count,Trait_list
0,0,0,7,"Water, Pink Oversized Kimono, Off White A, Fro..."
1,1,1,7,"Off White D, Daydreaming, Pink Hairband, White..."
2,2,2,7,"Red, Pink Flowy, Chewing, Ruby, Vest, Human, R..."
3,3,3,9,"Red, Green Spiky, Frog Headphones, Katana, Gra..."
4,4,4,7,"Smirk, Brown Dreadlocks, Off White D, Katana, ..."

In [11]:
# Testing on inspecting trait elements

test_string = df['Trait_list'][4]

In [12]:
test_string = test_string.split(", ")

In [13]:
test_string

['Smirk',
 'Brown Dreadlocks',
 'Off White D',
 'Katana',
 'White Qipao with Fur',
 'Lightning',
 'Human']

In [14]:
for i in test_string:
  for j in female_hair_traits:
    if i == j:
      print('F')
      break
  for k in male_hair_traits:
    if i == k:
      print('M')
      break
  for m in andro_hair_traits:
    if i == m:
      print('A')
      break

A

In [15]:
def check_gender(row):
  """
  This is a function to check the gender of azuki based on the hair trait.
  There are three outcomes
  F, M, and A (andro hair trait)
  
  in
    row - string, trait values of a certain token
  out
    gender - string
  """

  row = row.split(", ")

  for i in row:
    for j in female_hair_traits:
      if i == j:
        return 'F'
        break
    for k in male_hair_traits:
      if i == k:
        return 'M'
    for m in andro_hair_traits:
      if i == m:
        return 'A'
        break

In [16]:
# Check gender of all azukis

df['Gender'] = df['Trait_list'].apply(check_gender)

In [17]:
df.head()

,Unnamed: 0,Token_id,Trait_count,Trait_list,Gender
0,0,0,7,"Water, Pink Oversized Kimono, Off White A, Fro...",F
1,1,1,7,"Off White D, Daydreaming, Pink Hairband, White...",F
2,2,2,7,"Red, Pink Flowy, Chewing, Ruby, Vest, Human, R...",F
3,3,3,9,"Red, Green Spiky, Frog Headphones, Katana, Gra...",M
4,4,4,7,"Smirk, Brown Dreadlocks, Off White D, Katana, ...",A

In [18]:
df.tail(10)

,Unnamed: 0,Token_id,Trait_count,Trait_list,Gender
9990,9990,9990,8,"Maroon Short Spiky, Black Glasses, Suspicious,...",M
9991,9991,9991,10,"Cool Gray, Gloves, Round Blue Sunglasses, Koi ...",F
9992,9992,9992,7,"Silver Short Spiky, Red, Off White B, Gaiter, ...",M
9993,9993,9993,9,"Towel, Hand Wrap, Silver Bangs, Off White C, S...",F
9994,9994,9994,8,"Red Stripes Face Paint, Off White B, Maroon Bu...",F
9995,9995,9995,7,"Magenta Long, Full Bandana, Black Kimono, Susp...",M
9996,9996,9996,9,"Meh, Off White A, Reading Glasses, Black Kimon...",M
9997,9997,9997,7,"Brown Messy, Curious, Sakura Katana, Off White...",M
9998,9998,9998,9,"Off White A, Orange Swept Back, Fire, Suit wit...",M
9999,9999,9999,9,"Bandaid, Shinai, Dress Shirt, Off White D, Blu...",M

In [19]:
androhairstyles = df[df['Gender'] == "A"]

In [20]:
# Check unique values of gender 
df['Gender'].unique()

array(['F', 'M', 'A', None], dtype=object)

In [21]:
# Some show null values so these are further inspected

df[df['Gender'].isnull()]

,Unnamed: 0,Token_id,Trait_count,Trait_list,Gender
2152,2152,2152,5,"Shinto Robe, Chill, Pout, Off White C, Human",None
2484,2484,2484,7,"Meh, Brown Yukata, Beads, Off White C, Monk St...",None
2557,2557,2557,6,"Stubble, Indifferent, Straw Poncho, Floorsweep...",None
5909,5909,5909,7,"Meh, Dark Blue, Lightning, Lightning, Lightnin...",None
6705,6705,6705,7,"Ayaigasa, Pout, Off White B, Human, Archer, Sh...",None
7642,7642,7642,6,"Pout, Tired, Off White C, Human, Kimono with S...",None

From observation, all of these are male monks. Therefore, all gender with no hairtrait is male.

In [22]:
df['Gender'] = df['Gender'].fillna('Male')

In [23]:
# No more rows without any gender value
df[df['Gender'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Token_id, Trait_count, Trait_list, Gender]
Index: []

In [24]:
df.head()

,Unnamed: 0,Token_id,Trait_count,Trait_list,Gender
0,0,0,7,"Water, Pink Oversized Kimono, Off White A, Fro...",F
1,1,1,7,"Off White D, Daydreaming, Pink Hairband, White...",F
2,2,2,7,"Red, Pink Flowy, Chewing, Ruby, Vest, Human, R...",F
3,3,3,9,"Red, Green Spiky, Frog Headphones, Katana, Gra...",M
4,4,4,7,"Smirk, Brown Dreadlocks, Off White D, Katana, ...",A

In [25]:
# Remove unused column
df = df.drop(['Unnamed: 0'], axis = 1)

In [26]:
azuki_three_genders = df

In [27]:
female_andros.head()

   Unnamed: 0  Token_id
0         NaN         4
1         NaN        25
2         NaN        26
3         NaN        45
4         NaN       115

In [28]:
# Indicate all of these tokens as female

female_andros = female_andros.drop(['Unnamed: 0'], axis = 1)

In [29]:
female_andros.head()

   Token_id
0         4
1        25
2        26
3        45
4       115

In [30]:
female_andros['Gender_andros'] = 'F'

In [31]:
# Change data type from number to string to enable merge

female_andros = female_andros.astype(str)

In [32]:
female_andros.dtypes

Token_id         object
Gender_andros    object
dtype: object

In [33]:
female_andros.head()

  Token_id Gender_andros
0        4             F
1       25             F
2       26             F
3       45             F
4      115             F

In [34]:
# merge dataframe from traits and from female azukis

outer_merge = pd.merge(df, female_andros, on = 'Token_id', how = 'outer')

In [35]:
outer_merge.head()

,Token_id,Trait_count,Trait_list,Gender,Gender_andros
0,0,7,"Water, Pink Oversized Kimono, Off White A, Fro...",F,NaN
1,1,7,"Off White D, Daydreaming, Pink Hairband, White...",F,NaN
2,2,7,"Red, Pink Flowy, Chewing, Ruby, Vest, Human, R...",F,NaN
3,3,9,"Red, Green Spiky, Frog Headphones, Katana, Gra...",M,NaN
4,4,7,"Smirk, Brown Dreadlocks, Off White D, Katana, ...",A,F

In [36]:
# Fill NaN values in Gender_andros with Gender

outer_merge['Gender_andros'] = outer_merge['Gender_andros'].fillna(outer_merge['Gender'])

In [37]:
outer_merge.head()

,Token_id,Trait_count,Trait_list,Gender,Gender_andros
0,0,7,"Water, Pink Oversized Kimono, Off White A, Fro...",F,F
1,1,7,"Off White D, Daydreaming, Pink Hairband, White...",F,F
2,2,7,"Red, Pink Flowy, Chewing, Ruby, Vest, Human, R...",F,F
3,3,9,"Red, Green Spiky, Frog Headphones, Katana, Gra...",M,M
4,4,7,"Smirk, Brown Dreadlocks, Off White D, Katana, ...",A,F

In [38]:
col_names = {
    'Gender' : 'Three categories',
    'Gender_andros' : 'Two categories'}

In [39]:
outer_merge = outer_merge.rename(columns = col_names)

In [40]:
azuki_gender_dataset = outer_merge

In [41]:
# export dataset

azuki_gender_dataset.to_csv('azuki_gender_dataset.csv')